body, 
.btn-buy, 
.btn-see-more {
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #F8F6F6;
}

.page-logo {
    max-width: 10vw;
}

.page-logo-white {
    max-width: 20vw;
    max-height: 25vh;
}

.product-image {
    max-width: 20vw;
}

.product-info {
    cursor: pointer;
}

.product-info:hover {
    opacity: 0.8;
}

.product-name, 
#product-title,
#product-price {
    font-weight: 700;
}

footer {
    background-color: #000;
}

.detail-image-container {
    background-color: #000;
}

.detail-image {
    max-width: 24vw;
}

.btn-see-more {
    background-color: #F8F6F6;
    font-weight: 500;
}

.btn-see-more:hover {
    opacity: 0.9;
    font-size: 1.3rem;
}